* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h1,
section h2,
section h3,
form button,
.s1coluna-1 a,
footer h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

body,
.social-links li a {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #555555;
}

.social-links li a:hover {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color:#2B2B2B
}

input, textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

form button {
    font-size: 18px;
}

section h1 {
    font-size:48px;
    line-height: 72px;
}

.destacado-1 {
    text-decoration-line: underline;
    text-decoration-color: #FFD569;
    text-decoration-thickness: 0.2em; 
}

.destacado-2 {
    text-decoration: solid;
    background-color: #FECECE;
}

header {
    padding: 24px 0px;
    background: color #f8f9fa;
    color: #2B2B2B;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #2B2B2B;
    text-decoration: none;
}

.container,
.container-centralizado {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-mila-k {
    height: 40px;
}

.linha-divisoria {
    border-top: 1px solid #EEEEEE; 
}

.brands-list img {
    height: 24px;
    margin: 8px 0;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
    column-gap: 104px;
    margin-bottom: 88px;
}

section h1{
    margin-bottom: 24px;
}

section h2 {
    margin-bottom: 24px;
}

section h3 {
    margin-bottom: 16px;
}

section h1,
section h2,
section h3,
.form-area,
footer h3 {
    color: #2B2B2B;
}

section .s1coluna-1 p{
    margin-bottom: 48px;
}

section .s1coluna-1 {
    width: 50%;
    padding: 64px 0;
}

section .image-section-1 {
    width: 40%;
}

.s1coluna-1 a {
    text-decoration: none;
    padding-block: 16px;
    padding-inline: 48px;
    background-color: #3F4CD3;
    color: #ffffff;
    border-radius: 32px;
}

.s1coluna-1 a:hover {
        background-color: #1724A8;
        color: #ecf0f1;
    }

.container-centralizado {
    max-width: 1280px;
    width: 100%;
}

#work {
    background-color:  #EEF0FF;
    padding-top: 80px;
    padding-bottom: 88px;
}

#work h2 {
    text-align: center;
}

#work .container-centralizado {
    text-align: center;
}

.container-centralizado a {
    text-decoration: none;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    width: 300px;
    border: none;
    border-radius: 24px;
    box-shadow: 1px 4px 12px 2px rgba(24, 24, 24, 0.06);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    background-color: #ffffff;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 16px;
    color: #2B2B2B;
}

#work a:-webkit-any-link {
    color: #555555;
    cursor: pointer;
    text-decoration: none;
}

.card p {
    margin: 0;
}

.container-centralizado li {
    display: inline-block;
    justify-items: center;
    text-align: left;
    margin-inline: 32px;
}

#skills {
    background-color: #F8F9FA;
}

#skills .container {
    padding-top: 80px;
    padding-bottom: 88px;
    margin: none;
}

section .s3coluna1 {
    width: 50%;
    justify-content: flex-start;
}

section .s3coluna1 li {
    margin-bottom: 24px;
}

section .s3coluna2 {
    width: 40%;
    margin-top: 140px;
}

section .s3coluna1 ul,li {
    list-style-type: none;
}

.card2-link {
    text-decoration: none;
    color: inherit;
}

.card2 {
    display: inline-flex;
    align-items: center;
    min-height: 112px;
    border: none;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 1px 4px 12px 2px rgba(24, 24, 24, 0.06);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    background-color: #ffffff;
}

.card2:hover {
    transform: scale(1.05);
}

.card2 img {
    height: 96px;
    width: 96px;
}

.card2-content {
    flex: 1;
    padding: 15px;
}

.card2 h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card2 p {
    margin: 0;
}

section .contact-methods {
    width: 50%;
}

section .contact-methods li {
    display: table-row;
}

section .image-contact {
    width: 40%;
    margin-top: 88px;
}

#contact .form-area {
    background-color:#F8F9FA;
    padding: 32px 64px 24px 64px;
    border-radius: 24px;
}

form input,
form textarea,
form button {
    width: 100%;
    min-width: 240px;
    margin-bottom: 24px;
    padding: 16px;
    border-radius: 8px;
    border-width: 1px;
}

form textarea {
    resize: none;
    height: 120px
}

form textarea:focus, form input:focus {
    outline-color: #3F4CD3;
}

form button {
    border-radius: 32px;
    border: none;
    background-color: #3F4CD3;
    color: #ecf0f1;
    height: 56px;
    cursor: pointer;
}

form button:hover {
    background-color:  #1724A8;
    color: #ecf0f1;
}

footer {
    text-align: center;
    padding:32px 0;
    background-color:#BBC0F5;
}

.social-links img {
    height: 48px;
    width: 48px;
    margin-bottom: 8px;
}

.social-links ul {
    display: inline-block;
    justify-content: flex-start;
}

.social-links li {
    display: inline-flex;
    justify-items: center;
    text-align: left;
    margin-inline: 32px;
    margin-top: 32px;
    margin-bottom: 64px;
}

.social-links li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 120px;
    color:#2B2B2B
}

.social-links a:hover {
    background-color: rgba(255, 255, 255, 0.227);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 16px;
    transform: none;
    transition: none;
}